<div class="form-group ">
  <div class="col-xs-3 text-label-color">
    <label for="users">Users</label>
    <div  class="users">39,240 
      <span><i class="fa fa-caret-up fa-fw"></i>9.02%</span>
    </div>

  </div>
  <div class="col-xs-3 text-label-color">
      <label for="Sessions">Sessions</label>
      <div  class="sessions">99,238 
        <span><i class="fa fa-caret-up  fa-fw"></i>1.73%
        </span>
      </div>
  </div>
  <div class="col-xs-3 text-label-color">
      <label for="interactions">Interactions</label>
      <div  class="interactions">1,204,32
        <span><i class="fa fa-caret-down fa-fw"></i>11.39%</span></div>
      
  </div>
    <div class="col-xs-3 text-label-color">
        <label for="reviews">Reviews</label>
        <div  class="reviews">105 
          <span><i class="fa fa-caret-up fa-fw"></i>92.84%
          </span>
        </div>

  </div>
</div>
<chart [options]="chart1"> </chart>
