<div class="sidebar" role="navigation">
    <div class="sidebar-nav">
        <ul class="nav" id="side-menu">
            <li class="personal">
                <a class="waves-effect "><i class="fa fa-user fa-fw" ></i>PERSONAL INFORMATION</a>
            </li>
            <li>
                <div class="clearfix sidebarBvg">
                    <div class="row">
                      <div class="col-md-4">
                          <div class="c100 p12 small">
                              <span>53%</span>
                              <div class="slice">
                                  <div class="bar"></div>
                                  <div class="fill"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                        <p class="p1-tag">Completed</p>
                        <p class="p2-tag">From This Section</p>
                      </div>
                    </div>
                  </div>            </li>
            <li>
                <a class="waves-effect"><i class="fa fa-id-card  fa-fw" ></i>GENERNAL INFORMATION</a>
            </li>
            <li>
                <a  class="waves-effect"><i class="fa fa-info-circle fa-fw" ></i>LICENSE INFORMATION</a>
            </li>
            <li>
                <a  class="waves-effect"><i class="fa fa-history fa-fw" ></i>HISTORY</a>
            </li>
            <li>
                <a  class="waves-effect"><i class="fa fa-car fa-fw" ></i>DRIVING EXPERIENCE</a>
            </li>
            <li>
                <a class="waves-effect"><i class="fa fa-exclamation-triangle fa-fw" ></i>INFRACTIONS</a>
            </li>

        </ul>
    </div>
    
</div>
