
.top-buffer { margin-top:20px; }
.text-label-color{
    color: #a8b4b8 !important;
    margin-top: 20px;
}
.btn-purple {
    background-color: #7564e5;
    color:#fff;
    margin-top:20px;
    border-radius: 0px;
    height: 45px;
}
.text-button-align{
    text-align: center;
    margin: 0px 10px;
}
.form-controls {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    font-weight: bold;

}
.is-invalid{
    border-color: #dc3545;
}